.container {
  margin-top: 10px;

  display: grid;
  grid-template-columns: 1ft;

  @media (min-width: 560px) {
    grid-template-columns: 1fr 1fr;

    column-gap: 30px;
  }
  
  @media (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
